.hiddenPart {
	display: none;
}

.typed {
	position: absolute;
	float: left;
}

h1 {
	font-size: 2em;
}

.projectName {
	font-size: 1.2em;
}

.articleName {
	font-size: 1.2em;
}

/* Animation */
@-webkit-keyframes typing{
	from { width: 100%;}
  to { width: 0;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}

.typed span{
	position: absolute;
	top: 0;
	right: 0;
	background: #222222;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 0.6s steps(6) forwards, cursor 1s infinite;
	animation: typing 0.6s steps(6) forwards, cursor 1s infinite;
}