body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14;
  color: #dddddd;
  background: #101010;
}

h1, h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

h3 {
  text-decoration: underline;
}

a {
  cursor: pointer;
  color: #337AB7;
  text-decoration: none;
}

a:hover {
  color:#005096;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

div.hide {
  display: none;
}

.displayText {
  color: #dddddd;
}

.bold {
  font-weight: bold;
}

.sectionTitle {
  padding: 0;
  text-decoration: none;
}

.title {
  text-align: left;
}

.date {
  text-align: right;
}

@media screen and (max-width : 786px) {
  .date {
    text-align: left;
  }
}
